## **Latihan Collaborative Filtering**

**Dengan menggunakan dataset anime & rating, buatlah recommendation system dengan skema berikut:**

* Gabungkan kedua data agar dapat memunculkan informasi-informasi yang ada pada dataset anime.
* Bandingkan algoritma SVD dan ALS
* Tuning algoritma yang menurut kalian lebih baik

Setelah mendapatkan model terbaik, coba prediksi rating anime berikut:

* Hunter x Hunter (2011), anime_id 11061
* Detective Conan OVA 09, anime_id 6438
* Ranma ½, anime_id 1010
* Saint Seiya: Meiou Hades Juuni Kyuu-hen, anime_id 1257 

Oleh user:

* 50
* 200
* 400
* 800

Bagaimana urutan rekomendasi yang akan kalian berikan untuk masing-masing user?

## **Import libraries**

In [34]:
import pandas as pd
import numpy as np
import seaborn as sns

# Dataset formatting
from surprise import Reader
from surprise import Dataset

from surprise import SVD            # SVD
from surprise import BaselineOnly   # ALS

from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split
from surprise.model_selection import GridSearchCV

## **Load dataset & preprocessing**

In [35]:
df_rating = pd.read_csv('rating.csv')
df_rating

       Unnamed: 0  user_id  anime_id  rating
0              47        1      8074    10.0
1              81        1     11617    10.0
2              83        1     11757    10.0
3             101        1     15451    10.0
4             153        2     11771    10.0
...           ...      ...       ...     ...
77863       96433      999     11757     6.0
77864       96434      999     16498     9.0
77865       96435      999     21881     5.0
77866       96436      999     22319     8.0
77867       96437      999     27899     7.0

[77868 rows x 4 columns]

In [36]:
# Drop kolom yang tidak berguna
df_rating = df_rating.drop(columns='Unnamed: 0', axis=1)
df_rating.head(10)

   user_id  anime_id  rating
0        1      8074    10.0
1        1     11617    10.0
2        1     11757    10.0
3        1     15451    10.0
4        2     11771    10.0
5        3        20     8.0
6        3       154     6.0
7        3       170     9.0
8        3       199    10.0
9        3       225     9.0

In [37]:
df_anime = pd.read_csv('anime.csv')
df_anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [38]:
# Menggabungkan df_rating dan df_anime --> Left join pada kolom anime_id
df_merged = pd.merge(df_rating, df_anime, how='left', on=['anime_id'])
df_merged

,user_id,anime_id,rating_x,name,genre,type,episodes,rating_y,members
0,1,8074,10.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural",TV,12,7.46,535892
1,1,11617,10.0,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School",TV,12,7.70,398660
2,1,11757,10.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance",TV,25,7.83,893100
3,1,15451,10.0,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,...",TV,12,7.87,266657
4,2,11771,10.0,Kuroko no Basket,"Comedy, School, Shounen, Sports",TV,25,8.46,338315
...,...,...,...,...,...,...,...,...,...
77863,999,11757,6.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance",TV,25,7.83,893100
77864,999,16498,9.0,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
77865,999,21881,5.0,Sword Art Online II,"Action, Adventure, Fantasy, Game, Romance",TV,24,7.35,537892
77866,999,22319,8.0,Tokyo Ghoul,"Action, Drama, Horror, Mystery, Psychological,...",TV,12,8.07,618056
77867,999,27899,7.0,Tokyo Ghoul √A,"Action, Drama, Horror, Mystery, Psychological,...",TV,12,7.52,408357

In [39]:
# Drop kolom yang tidak digunakan
df_merged = df_merged.drop(columns=['type', 'episodes', 'rating_y', 'members'], axis=1)

# Ganti nama kolom 'rating_x' menjadi 'user_rating'
df_merged = df_merged.rename(columns={'rating_x':'user_rating'})
df_merged

,user_id,anime_id,user_rating,name,genre
0,1,8074,10.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"
1,1,11617,10.0,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School"
2,1,11757,10.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
3,1,15451,10.0,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,..."
4,2,11771,10.0,Kuroko no Basket,"Comedy, School, Shounen, Sports"
...,...,...,...,...,...
77863,999,11757,6.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
77864,999,16498,9.0,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power"
77865,999,21881,5.0,Sword Art Online II,"Action, Adventure, Fantasy, Game, Romance"
77866,999,22319,8.0,Tokyo Ghoul,"Action, Drama, Horror, Mystery, Psychological,..."
77867,999,27899,7.0,Tokyo Ghoul √A,"Action, Drama, Horror, Mystery, Psychological,..."

In [40]:
df_merged.describe()
# rating dari 1-10

            user_id      anime_id   user_rating
count  77868.000000  77868.000000  77868.000000
mean     517.812786  10721.879116      7.855268
std      278.020509   9033.079184      1.538070
min        1.000000      1.000000      1.000000
25%      288.000000   2273.000000      7.000000
50%      529.000000   9513.000000      8.000000
75%      753.000000  16592.000000      9.000000
max      999.000000  34240.000000     10.000000

In [41]:
# Pivot table menjadi sparse matrix
user_item_rating_matrix = df_merged.pivot_table(values='user_rating', index ='user_id', columns ='anime_id')
user_item_rating_matrix

anime_id,1,5,6,7,8,15,16,17,18,19,...,33338,33341,33372,33421,33524,33558,33569,33964,34103,34240
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,8.0,NaN,NaN,6.0,NaN,6.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Hunter x Hunter (2011), anime_id 11061
* Detective Conan OVA 09, anime_id 6438
* Ranma ½, anime_id 1010
* Saint Seiya: Meiou Hades Juuni Kyuu-hen, anime_id 1257

In [42]:
user_item_rating_matrix.loc[[50,200,400,800], [11061,6438,1010,1257]]

anime_id  11061  6438   1010   1257
user_id
50         10.0    NaN    NaN    NaN
200         NaN    NaN    NaN    NaN
400         9.0    NaN    NaN    NaN
800         NaN    NaN    NaN    NaN

User-Item matrix with rating terdiri dari 940 user dan 4510 anime

## **Modeling**

In [43]:
reader = Reader(rating_scale=(1, 10))

data = Dataset.load_from_df(df_merged[['user_id', 'anime_id', 'user_rating']], reader)
data

## **Validation**

In [44]:
trainset, testset = train_test_split(data, test_size=0.2, random_state=1)

### **SVD**

In [45]:
algo_svd = SVD()

algo_svd.fit(trainset)
prediction_svd = algo_svd.test(testset)

In [46]:
accuracy.rmse(prediction_svd)

RMSE: 1.2020

1.2019680632656489

### **ALS**

In [47]:
bsl_options = {'method': 'als',
               'n_epochs': 10,
               'reg_u': 15,
               'reg_i': 10
               }

algo_als = BaselineOnly(bsl_options=bsl_options)

algo_als.fit(trainset)
prediction_als = algo_als.test(testset)

Estimating biases using als...

In [48]:
accuracy.rmse(prediction_als)

RMSE: 1.2128

1.2127696615627046

SVD memiliki error lebih kecil, maka akan dilakukan hyperparameter tuning terhadap model SVD

## **Cross Validation**

### **SVD**

In [49]:
cv_svd = cross_validate(algo_svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.2131  1.1989  1.1982  1.2097  1.2123  1.2064  0.0066
MAE (testset)     0.9190  0.9085  0.9107  0.9148  0.9195  0.9145  0.0044
Fit time          12.94   13.44   14.00   12.70   12.25   13.07   0.60
Test time         0.51    0.53    0.69    0.44    0.45    0.52    0.09

In [50]:
print('RMSE cv mean', cv_svd['test_rmse'].mean())

RMSE cv mean 1.206446046384325

### **ALS**

In [51]:
cv_als = cross_validate(algo_als, data, measures=['RMSE','MAE'], cv=5, verbose=True)

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Evaluating RMSE, MAE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.2122  1.2238  1.2092  1.2138  1.2062  1.2130  0.0060
MAE (testset)     0.9250  0.9326  0.9177  0.9261  0.9223  0.9247  0.0049
Fit time          0.51    0.56    0.63    0.56    0.56    0.56    0.04
Test time         0.57    0.30    0.25    0.25    0.57    0.39    0.15

In [52]:
print('RMSE cv mean', cv_als['test_rmse'].mean())

RMSE cv mean 1.2130479533952339

## **Hyperparameter tuning**

In [53]:
# Tuning SVD
hyperparam_space = {
    'n_epochs':[5, 10, 20, 30],     # jumlah iterasi
    'lr_all':[0.002, 0.005],        # learning rate
    'reg_all':[0.02, 0.4, 0.6]      # regularization
}

grid_search = GridSearchCV(SVD, hyperparam_space, measures=['rmse', 'mae'], cv=5)

grid_search.fit(data)

In [54]:
print('RMSE')
print(grid_search.best_score['rmse'])
print(grid_search.best_params['rmse'])

print('\nMAE')
print(grid_search.best_score['mae'])
print(grid_search.best_params['mae'])

RMSE
1.20597989714718
{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.02}

MAE
0.9139524051340322
{'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.02}

In [55]:
# Contoh tuning metode ALS
# param_grid = {'bsl_options': {'method': ['als'],
#                               'n_epochs': [5,10,15], 
#                               'reg_u': [12, 18, 27], 
#                               'reg_i': [5,50,100]}
#               }

# gs = GridSearchCV(BaselineOnly, param_grid, measures=['rmse', 'mae'], cv=3)

# gs.fit(data)

## **Model with Hyperparameter Tuning**

In [56]:
svd_tuned = SVD(n_epochs = 20, lr_all = 0.005, reg_all = 0.02)
cv_svd_tuned = cross_validate(svd_tuned, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.1994  1.1931  1.2223  1.2147  1.2039  1.2067  0.0105
MAE (testset)     0.9093  0.9073  0.9264  0.9184  0.9078  0.9138  0.0075
Fit time          15.89   17.46   20.53   21.03   20.28   19.04   2.01
Test time         0.65    0.68    0.77    0.98    0.84    0.79    0.12

In [57]:
# Perbandingan RMSE sebelum dan sesudah tuning
print('RMSE cv mean before tuning:', cv_svd['test_rmse'].mean())
print('RMSE cv mean after tuning:', cv_svd_tuned['test_rmse'].mean())

RMSE cv mean before tuning: 1.206446046384325
RMSE cv mean after tuning: 1.2066772111720447

## **Prediction results**

* Hunter x Hunter (2011), anime_id 11061
* Detective Conan OVA 09, anime_id 6438
* Ranma ½, anime_id 1010
* Saint Seiya: Meiou Hades Juuni Kyuu-hen, anime_id 1257

In [58]:
users = [50, 200, 400, 800]
anime_ids = [11061, 6438, 1010, 1257]
titles = ['Hunter x Hunter (2011)', 'Detective Conan OVA 09', 'Ranma ½', 'Saint Seiya: Meiou Hades Juuni Kyuu-hen']

# Dataframe kosong
df_test = pd.DataFrame(columns=['user_id', 'anime_id', 'title'], dtype='object')
df_test

# Mengisi dataframe dengan user_id dan anime_id beserta titlenya
for i in users:
    for j, k in zip(anime_ids, titles):
        df_test = df_test.append({'user_id':i, 'anime_id':j, 'title':k}, ignore_index=True)
        
df_test

   user_id anime_id                                    title
0       50    11061                   Hunter x Hunter (2011)
1       50     6438                   Detective Conan OVA 09
2       50     1010                                  Ranma ½
3       50     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen
4      200    11061                   Hunter x Hunter (2011)
5      200     6438                   Detective Conan OVA 09
6      200     1010                                  Ranma ½
7      200     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen
8      400    11061                   Hunter x Hunter (2011)
9      400     6438                   Detective Conan OVA 09
10     400     1010                                  Ranma ½
11     400     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen
12     800    11061                   Hunter x Hunter (2011)
13     800     6438                   Detective Conan OVA 09
14     800     1010                                  Ranma ½
15     800     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen

In [59]:
df_test.iloc[:, :-1]

   user_id anime_id
0       50    11061
1       50     6438
2       50     1010
3       50     1257
4      200    11061
5      200     6438
6      200     1010
7      200     1257
8      400    11061
9      400     6438
10     400     1010
11     400     1257
12     800    11061
13     800     6438
14     800     1010
15     800     1257

In [60]:
df_merged.iloc[:, [1,3]]

       anime_id                    name
0          8074  Highschool of the Dead
1         11617         High School DxD
2         11757        Sword Art Online
3         15451     High School DxD New
4         11771        Kuroko no Basket
...         ...                     ...
77863     11757        Sword Art Online
77864     16498      Shingeki no Kyojin
77865     21881     Sword Art Online II
77866     22319             Tokyo Ghoul
77867     27899          Tokyo Ghoul √A

[77868 rows x 2 columns]

In [61]:
df_hasil = pd.merge(df_test.iloc[:, :-1], df_merged.iloc[:, [1,3]], how='inner', on='anime_id')
df_hasil = df_hasil.drop_duplicates(ignore_index=True).sort_values('user_id')
df_hasil

   user_id anime_id                                               name
0       50    11061                             Hunter x Hunter (2011)
4       50     6438  Detective Conan OVA 09: The Stranger in 10 Yea...
8       50     1010  Ranma ½: Chou Musabetsu Kessen! Ranma Team vs....
12      50     1257            Saint Seiya: Meiou Hades Juuni Kyuu-hen
1      200    11061                             Hunter x Hunter (2011)
5      200     6438  Detective Conan OVA 09: The Stranger in 10 Yea...
9      200     1010  Ranma ½: Chou Musabetsu Kessen! Ranma Team vs....
13     200     1257            Saint Seiya: Meiou Hades Juuni Kyuu-hen
2      400    11061                             Hunter x Hunter (2011)
6      400     6438  Detective Conan OVA 09: The Stranger in 10 Yea...
10     400     1010  Ranma ½: Chou Musabetsu Kessen! Ranma Team vs....
14     400     1257            Saint Seiya: Meiou Hades Juuni Kyuu-hen
3      800    11061                             Hunter x Hunter (2011)
7      800     6438  Detective Conan OVA 09: The Stranger in 10 Yea...
11     800     1010  Ranma ½: Chou Musabetsu Kessen! Ranma Team vs....
15     800     1257            Saint Seiya: Meiou Hades Juuni Kyuu-hen

In [62]:
# define model
svd_predict = SVD(n_epochs=20, lr_all=0.005, reg_all=0.02)

# fitting
svd_predict.fit(trainset)

# untuk menyimpan predicted score
y = []

# Melakukan prediksi pada tiap baris
for index, row in df_test.iterrows():
    est = svd_predict.predict(row['user_id'], row['anime_id'])
    y.append(est[3])
    
df_test['predicted_rating'] = y

df_test.sort_values(by=['user_id', 'predicted_rating'], ascending=[True, False], inplace=True)
df_test

   user_id anime_id                                    title  predicted_rating
0       50    11061                   Hunter x Hunter (2011)          9.825665
2       50     1010                                  Ranma ½          8.012890
3       50     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          7.966056
1       50     6438                   Detective Conan OVA 09          7.319418
4      200    11061                   Hunter x Hunter (2011)         10.000000
7      200     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          9.211445
6      200     1010                                  Ranma ½          8.738796
5      200     6438                   Detective Conan OVA 09          8.681264
8      400    11061                   Hunter x Hunter (2011)          8.469168
11     400     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          6.803702
10     400     1010                                  Ranma ½          6.313438
9      400     6438                   Detective Conan OVA 09          5.978582
12     800    11061                   Hunter x Hunter (2011)          9.709039
15     800     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          8.388786
14     800     1010                                  Ranma ½          8.046597
13     800     6438                   Detective Conan OVA 09          7.899487

In [63]:
est

Prediction(uid=800, iid=1257, r_ui=None, est=8.388786038168126, details={'was_impossible': False})

In [64]:
df_test[df_test['user_id'] == 50]

  user_id anime_id                                    title  predicted_rating
0      50    11061                   Hunter x Hunter (2011)          9.825665
2      50     1010                                  Ranma ½          8.012890
3      50     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          7.966056
1      50     6438                   Detective Conan OVA 09          7.319418

In [65]:
df_test[df_test['user_id'] == 200]

  user_id anime_id                                    title  predicted_rating
4     200    11061                   Hunter x Hunter (2011)         10.000000
7     200     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          9.211445
6     200     1010                                  Ranma ½          8.738796
5     200     6438                   Detective Conan OVA 09          8.681264

In [66]:
df_test[df_test['user_id'] == 400]

   user_id anime_id                                    title  predicted_rating
8      400    11061                   Hunter x Hunter (2011)          8.469168
11     400     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          6.803702
10     400     1010                                  Ranma ½          6.313438
9      400     6438                   Detective Conan OVA 09          5.978582

In [67]:
df_test[df_test['user_id'] == 800]

   user_id anime_id                                    title  predicted_rating
12     800    11061                   Hunter x Hunter (2011)          9.709039
15     800     1257  Saint Seiya: Meiou Hades Juuni Kyuu-hen          8.388786
14     800     1010                                  Ranma ½          8.046597
13     800     6438                   Detective Conan OVA 09          7.899487

## **Coba lihat rekomendasi anime untuk seorang user**

In [68]:
df_merged[df_merged['user_id']==1]

,user_id,anime_id,user_rating,name,genre
0,1,8074,10.0,Highschool of the Dead,"Action, Ecchi, Horror, Supernatural"
1,1,11617,10.0,High School DxD,"Comedy, Demons, Ecchi, Harem, Romance, School"
2,1,11757,10.0,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance"
3,1,15451,10.0,High School DxD New,"Action, Comedy, Demons, Ecchi, Harem, Romance,..."

In [69]:
df_merged['anime_id'].nunique()

4510

In [70]:
# cek score untuk masing-masing anime berdasarkan user
user_id = 1

# anime_id dan name yg tidak ada duplikat (unique)
anime = list(df_merged['anime_id'].unique())
name = list(df_merged['name'].unique())

In [71]:
svd_predict = SVD(n_epochs=20, lr_all=0.005, reg_all=0.02)
svd_predict.fit(trainset)

# prediksi score untuk seluruh anime berdasarkan user1
anime_score = [svd_predict.predict(user_id, anime_id).est for anime_id in anime]
anime_score

[9.383967304744894,
 9.332344227024613,
 9.514573714537217,
 9.393542346100094,
 9.640615413816704,
 8.597392936575813,
 8.158190296088877,
 9.415298127845567,
 9.900780635333211,
 8.019519238891728,
 8.20545860956802,
 8.629763324488389,
 8.199684395658196,
 8.668958527407806,
 9.398121758830518,
 8.20924150415762,
 7.951267976050533,
 8.30236344490301,
 7.676520996433003,
 7.8453961663317076,
 7.960918750772441,
 8.370562857180262,
 9.64900322663943,
 7.7452155179405295,
 8.671291331054338,
 8.393654756915224,
 8.97592328610027,
 7.953701112615388,
 7.82193193387221,
 8.561265312471871,
 8.759505091175269,
 8.278019297329253,
 9.937617026263103,
 8.193902659575219,
 8.203849910811629,
 9.321190423782008,
 8.52686326525258,
 8.06488475599561,
 7.93635444193846,
 8.71434368752996,
 8.694696777760837,
 8.073978519447722,
 8.863976977531763,
 8.978135445394615,
 8.862805360648661,
 8.301778179613873,
 9.29083160215705,
 7.7885712522823844,
 8.696735707716565,
 8.61653005504899,
 7.786026569119575,
 9.27205913572257,
 7.8734308830832465,
 8.709456533316867,
 8.73000260902706,
 9.686908233884916,
 8.690411502797907,
 9.19181125264112,
 9.605921693595784,
 9.10329258888288,
 9.040619196796792,
 8.151234285272627,
 9.30798688760949,
 8.48487381873122,
 5.743435138836869,
 9.569866245415966,
 8.25611929994261,
 8.903146462499567,
 9.227115233972489,
 9.39415910040482,
 7.5833163600803335,
 8.38525616812394,
 8.66682759647291,
 9.280806084800497,
 9.430136811509932,
 7.49942091629847,
 8.78922023338641,
 8.325369591177063,
 8.529613935507898,
 7.531024076067375,
 9.363708419499137,
 9.79591782053152,
 8.430825752603642,
 8.690512639732098,
 8.77234661185708,
 8.90425546362848,
 9.334025047931034,
 9.247059306054666,
 8.583121604323324,
 9.23432359463446,
 9.672358691483318,
 8.6991078899529,
 9.786147391330507,
 8.800231584304246,
 8.762040859771691,
 8.753883113148307,
 8.938567621694318,
 8.937965076862014,
 8.966819361197185,
 9.052223544063995,
 8.883226302581278,
 9.268678382613373,
 8.644645375874843,
 8.9378807037131,
 7.255382588783474,
 7.964719632343384,
 8.6336530461868,
 8.923219668105917,
 9.196627894380772,
 9.01401233962221,
 8.823300068992053,
 8.829047785426242,
 8.757542676592651,
 8.189344891566702,
 8.726662725729895,
 7.658241991547297,
 8.867871753161479,
 8.537631643469387,
 7.626485456932512,
 8.078751188955641,
 8.16795099158767,
 9.3788277254231,
 9.168144098837386,
 8.421410893827424,
 8.59247450398812,
 7.294695112295484,
 9.63776738748661,
 7.9377056926973,
 8.940231172799127,
 8.543111580129857,
 9.76005046784996,
 9.008041034171567,
 8.735970370191703,
 8.608415835407676,
 9.279759348365314,
 7.959973017287561,
 7.783035726890027,
 8.145691306943569,
 8.21827945910601,
 8.358179318890826,
 8.362027357887623,
 8.164577689117579,
 8.539241650422374,
 9.372620871331748,
 8.597955154305561,
 7.790811384136875,
 8.297077303800325,
 8.095838400830113,
 8.592996107610478,
 8.200958114432115,
 7.76794402419789,
 8.213721022678554,
 8.753635661898969,
 8.8524979876449,
 8.535954541316503,
 8.087319922801587,
 8.415174056045679,
 8.51505508369835,
 8.17863971609068,
 9.092955105344986,
 8.960863512723533,
 8.556626316233963,
 7.861951600333475,
 8.24334587549559,
 8.192428506632517,
 8.449354278869993,
 8.460515709682728,
 9.739543416607487,
 7.512781757525754,
 8.475887793184496,
 7.558635165726982,
 8.744087061434863,
 8.470148911939464,
 8.881929203790563,
 9.334617588955794,
 8.67682950454579,
 8.705038099718418,
 8.783598362032928,
 8.339386550573664,
 9.13592928128643,
 8.2253408520707,
 7.8432712157345525,
 7.9307931444182005,
 7.973998539999023,
 8.76458890626256,
 8.801317863068482,
 8.859601556784307,
 8.140498173808423,
 9.222159147770649,
 8.656843807176793,
 8.016777208648163,
 7.71625542290968,
 9.098275456379906,
 9.38423830703664,
 7.894500031699713,
 8.17047312149206,
 8.539619906008157,
 8.632516370556306,
 8.202267085972409,
 8.195469211704745,
 9.315311941723918,
 8.307603064774963,
 8.15959978308528,
 8.691728167254563,
 8.778339068822557,
 8.21354143795995,
 7.838693818763136,
 8.407057772088562,
 8.542703886601982,
 8.767093395487482,
 8.286717687940978,
 8.414883097763177,
 8.437556370849892,
 7.997069390682817,
 7.2364103589239175,
 8.740450678086995,
 8.468649022677264,
 8.947039618807374,
 8.75981089367369,
 8.605437153764765,
 8.57543224059734,
 8.349012113493657,
 8.442126031762076,
 8.58453889278083,
 8.29168002690642,
 9.298382289994494,
 8.192496050790039,
 8.307973994447211,
 8.158691568266658,
 8.217652309133944,
 8.333358075627103,
 7.978053996011006,
 7.893672165737402,
 8.109656126172883,
 8.970213937674325,
 8.451902471002914,
 8.83963084275907,
 9.686115378866097,
 8.630416257280062,
 8.178102666915159,
 8.24221978362886,
 7.997256135494982,
 8.589522826545826,
 9.088574747097832,
 8.597677194090346,
 8.169910943519778,
 7.595592615897074,
 9.093491008227078,
 7.842834187170885,
 7.924338312914051,
 8.765592880735392,
 8.37158631077595,
 8.351407273888475,
 8.212461336215657,
 9.229000991660916,
 8.29289523087787,
 8.871957739140305,
 8.099737477676689,
 8.417355767163768,
 9.099208173661271,
 8.051609481643071,
 7.561013006455709,
 7.677289899385363,
 8.007528509203492,
 8.715389458683534,
 8.308157428163037,
 9.403385321759181,
 8.505531382987353,
 8.443385478248395,
 8.328601610133486,
 8.42497134901869,
 8.433965123158254,
 8.684021049171555,
 7.9510432555314825,
 7.8934844891997775,
 9.354135797468151,
 8.876552861799702,
 8.017708636846976,
 8.194754886266674,
 8.778960542534415,
 8.94410632059028,
 8.46993863348991,
 8.340275346687593,
 8.653390916763303,
 8.63997633240139,
 8.341147885061284,
 8.70237879733011,
 8.856372387576824,
 8.519055791393633,
 9.900471992401169,
 8.047744478451037,
 8.378072378900866,
 8.434486521952769,
 8.718140808937509,
 7.738978255719151,
 8.033249919483634,
 7.180752662514737,
 9.898298619510294,
 8.016138907348525,
 8.720981221070616,
 9.404294015013358,
 9.215641430910892,
 8.238560542624185,
 8.700768915866837,
 8.244829313446973,
 9.387362871810575,
 8.21582543501086,
 7.700916906820357,
 8.35947622904315,
 8.295238354114115,
 8.306366366104886,
 8.261536608247312,
 8.931791014850493,
 8.217066863205213,
 8.61641674525914,
 8.432093759658551,
 8.630928934332147,
 8.45992376890411,
 9.50564551327106,
 8.0260510063592,
 8.603825887188204,
 8.865480928355067,
 8.437050660276638,
 9.014708354389185,
 8.586500716876822,
 8.85490129316907,
 8.614635847554293,
 9.710641953291768,
 8.479453786802004,
 8.299961860679131,
 8.263538593894658,
 8.613355668745854,
 9.108742738693687,
 8.512338680270739,
 8.93169164631972,
 9.12823140884738,
 8.918322938933972,
 8.838434962730213,
 8.442577998788899,
 8.889163123725314,
 8.070577636371798,
 8.010095304389102,
 8.22594773701392,
 8.593976433795998,
 8.14626150834236,
 8.338950246826197,
 8.05508114194385,
 8.19441096509064,
 8.562587388424088,
 8.12094235069301,
 7.965615109419162,
 8.930119762111039,
 8.62673255305904,
 8.646058694540622,
 8.692564491589158,
 9.035551682256285,
 9.324201159317491,
 8.781868889831724,
 7.974646187289558,
 8.079180005127776,
 7.607369484312,
 8.521311745947441,
 9.380683440821342,
 8.949661250751634,
 8.494084021705909,
 8.820695229745967,
 8.239734914318484,
 9.316435227987933,
 8.772990510345966,
 8.058174250478032,
 8.756361265907142,
 8.614541512168143,
 9.152064681992512,
 8.522401968391874,
 8.512044839254903,
 8.766137095467778,
 9.749923403755625,
 8.554335253521794,
 9.833903052134179,
 8.3850176255537,
 6.6353368248884905,
 8.621550697977984,
 8.260982962018312,
 8.308520672389987,
 8.359974176905384,
 8.637884543378973,
 9.087959224573186,
 8.724966727999314,
 9.361474802922107,
 8.364261145986854,
 8.642140729739646,
 8.344150207550795,
 8.420225410780667,
 8.18890214375857,
 7.910214346479316,
 8.210885908030349,
 9.613317420176417,
 8.300648462755936,
 8.48862881767434,
 8.095723815755218,
 8.30515752622323,
 8.04864372097805,
 8.154617968224292,
 8.499301384788687,
 8.62945148948931,
 7.550316028302544,
 7.999344817993851,
 8.647087170040379,
 8.865402860373406,
 8.384160716526868,
 7.982590788336318,
 8.050866146132323,
 8.583456845266804,
 8.591205273610685,
 8.930656510474947,
 8.312027706138384,
 7.693204316083812,
 8.12731860715797,
 8.189311920758321,
 8.321106548078522,
 8.738687618035316,
 8.541068430078509,
 8.066027649296883,
 9.411348403181774,
 8.473993460393437,
 8.004354274012714,
 9.240384594383022,
 8.360151984156088,
 8.477304388712698,
 8.661988077718316,
 9.426061097241789,
 8.445917485226685,
 8.31634295606814,
 9.49997869816235,
 6.965464570648855,
 8.23228618803109,
 8.35761177806307,
 8.986320418029251,
 7.889213336736527,
 7.706128450581514,
 8.184367437719823,
 8.629572234732557,
 8.364909151299017,
 7.703772518414078,
 8.549769910908509,
 8.144697573141272,
 8.609647971166233,
 8.245226305659896,
 8.971467493782761,
 8.571086512758066,
 8.23678696432285,
 8.300839984229611,
 9.129642674898063,
 8.111582227681744,
 8.438391355662066,
 8.531519911115943,
 8.307534486124723,
 7.999385212873578,
 8.434265813513074,
 8.392026304233692,
 8.422199192120852,
 8.437624951481677,
 8.797155822521331,
 7.975077417225631,
 8.422909664134705,
 8.240636003127289,
 8.258897853232927,
 8.916443948240486,
 8.415174056045679,
 8.23139005650841,
 8.883903813625576,
 9.278466766017893,
 9.355090671490164,
 7.512177129983362,
 8.973526910616124,
 7.749422567227819,
 8.542442049781794,
 9.676734401580944,
 8.772576972945043,
 8.940859046489846,
 7.356418068111987,
 8.464541714500786,
 9.423214655687511,
 8.345725128377673,
 8.415174056045679,
 8.350370520587822,
 8.487891176831633,
 8.692488597239475,
 7.821942053025856,
 8.38542829187267,
 8.143182229551792,
 8.203239170197808,
 8.654479339005134,
 7.470893440826807,
 7.94275360747953,
 8.351035696989078,
 9.237464728559713,
 8.422509795432637,
 8.442704543341373,
 8.854940878865929,
 8.577747094167922,
 7.51972836659997,
 8.756714030516864,
 8.123142829752249,
 8.355505856102326,
 8.063223385315561,
 8.082834847352508,
 8.44084160154552,
 8.90220372029328,
 8.549555583088601,
 9.457268216397619,
 8.417658969545448,
 9.538201948953457,
 8.500636948507003,
 8.20773814857906,
 8.888675043918536,
 8.332319615842717,
 8.202360778221717,
 8.384182877757695,
 8.42645483712666,
 8.80621434556149,
 8.91600675840868,
 8.169620953146692,
 8.710537851225643,
 7.998234726056451,
 8.49313694897004,
 8.680319405370248,
 8.632679426349661,
 9.011180934199691,
 8.767479770603542,
 8.557989489006896,
 8.644683368643486,
 8.406162286120633,
 9.203017659101809,
 8.503750406793415,
 8.888606548330854,
 8.199900550937064,
 8.744556932685699,
 9.494946660425125,
 8.339354553498554,
 9.07821846538594,
 8.6563291803927,
 8.451699308329937,
 7.9625923161870915,
 8.913155578294056,
 8.586235265971862,
 8.268670893342634,
 9.042595152325717,
 8.214837324185185,
 9.606824671491932,
 8.761817542271645,
 8.35804395397364,
 8.346810721976006,
 9.410477296025324,
 8.60256651757944,
 8.59679148314301,
 8.891251908117631,
 9.799438342470026,
 8.596058010207901,
 8.298247687686432,
 8.596703750976943,
 8.393025893815008,
 8.249577496561306,
 7.50570595907296,
 7.975448251548723,
 8.820764468893195,
 8.69136552519433,
 9.131212925884128,
 8.385961632661207,
 7.826082344340189,
 8.168889728065462,
 8.425306242075923,
 8.171730793167548,
 8.501222728960695,
 8.438913106841778,
 7.873516018170588,
 8.50105751057612,
 9.130005794012675,
 9.011526546372101,
 8.5041881997449,
 8.196675494199082,
 8.277422089419158,
 7.7309054798753225,
 8.880069095231873,
 9.249936371070927,
 7.926598514035451,
 10,
 8.588387578153194,
 7.694479863297215,
 8.68158060177109,
 9.183730702997934,
 9.361970452666544,
 9.467443490543703,
 7.8761716180527035,
 7.939261764959456,
 8.375176279013514,
 8.455479652361284,
 8.28871384192056,
 8.5625126780432,
 8.482826178768583,
 8.171413018747485,
 9.079274761031755,
 7.92076669995406,
 8.249088853983226,
 8.252615800548131,
 7.831841465329194,
 8.243569442319135,
 9.371750465961842,
 8.298911230258254,
 8.664760956504123,
 8.569430321680937,
 8.39950079331073,
 8.280802375972955,
 7.079190723080631,
 8.442965813511773,
 8.538550997749688,
 9.183161148756534,
 8.705204019743459,
 7.9012889887746,
 7.860455545623119,
 7.967694567873696,
 8.192929381434928,
 8.398458119502502,
 7.603539221546463,
 8.004987163940374,
 8.304360703933138,
 8.384539871396235,
 7.989416568509047,
 8.234963838012368,
 8.139781971238122,
 7.62212793531404,
 8.074375211271267,
 8.259139074160995,
 8.431709842790786,
 7.9769063106626605,
 8.701802445983937,
 8.35894943670745,
 8.43767245456244,
 8.268245485743872,
 8.55217576632709,
 8.188614385803188,
 8.188899447734164,
 8.841792374171442,
 8.10619224099583,
 8.015443160276941,
 8.453333289621673,
 8.215616544886071,
 8.313980035662677,
 8.390128324009526,
 8.230705268734747,
 7.999532271027834,
 8.672966317209807,
 7.08205243366435,
 8.79346780978692,
 8.1035528640406,
 7.9682326654905316,
 8.589102523699825,
 8.295135913221507,
 8.326763612790286,
 7.875903228685395,
 8.51540402958924,
 8.357278010850138,
 7.952601050472956,
 8.244229703649964,
 8.063777090169344,
 8.78635004309915,
 8.918874922626612,
 8.470218391736617,
 8.333599519707846,
 7.77136227600484,
 9.483489548718055,
 8.270076582870033,
 8.257569752652435,
 8.298757091888259,
 8.075636472188318,
 8.292346348121411,
 8.171957805436803,
 8.334649128564967,
 8.385165736649718,
 8.415330041229058,
 9.597510063688112,
 7.84308104072364,
 8.432602350351138,
 7.5537078673324825,
 8.461267343598614,
 8.250110080050552,
 8.55772818010541,
 8.445395865119039,
 7.440745121766209,
 7.990532498737005,
 7.856787620158131,
 8.091577907888382,
 8.58773051009134,
 8.230484421307157,
 8.6908436677529,
 8.53259669043115,
 8.384773484160025,
 8.334864511505682,
 7.934067144456398,
 8.160297437651991,
 7.872894455944717,
 8.60894490459946,
 8.45308949779323,
 8.519257545600535,
 8.701756736822013,
 8.51605912630401,
 8.088348416698375,
 8.305453882237517,
 8.031712715983229,
 8.746873022352014,
 7.906360545945007,
 8.234913062878077,
 8.367071375585974,
 8.756733908437383,
 8.333501348509817,
 9.23355508384849,
 7.9243584687676645,
 8.650400665359253,
 9.770082373904897,
 8.458327552667068,
 8.863960419878685,
 8.514556366589154,
 8.514012957196659,
 8.648162056462743,
 6.970912482368327,
 9.595084702156946,
 8.622194454692043,
 9.017784641328554,
 8.350550832948482,
 8.83931099974768,
 8.80358305770549,
 9.383181708499487,
 9.06935799076442,
 8.645022008139756,
 8.185079310511206,
 8.38333591467726,
 8.381998890610022,
 8.40659402643954,
 8.430209001141652,
 9.179516023683744,
 9.2294454846137,
 8.532829502789797,
 9.565811947504404,
 8.538068302483634,
 8.76149539785779,
 8.444092682024742,
 9.068953247994248,
 9.439441808713237,
 8.510293324480765,
 8.812471614582918,
 7.885492380435363,
 8.415174056045679,
 8.815704916161511,
 9.03600065560958,
 9.211818170942145,
 8.384220465980523,
 8.382851376206695,
 8.400223897957389,
 8.713935352224551,
 7.902785011337132,
 8.458200493195404,
 8.501152260266629,
 8.267226855501404,
 8.649312154328245,
 8.47741552903447,
 8.488093451618315,
 8.781717844777477,
 8.696180880593603,
 8.25398767657098,
 9.038807515560869,
 8.025602136360364,
 8.34761206663092,
 8.09333988138968,
 8.392116369958638,
 8.148749020605838,
 7.76644366011404,
 9.76135001361736,
 9.478041435975452,
 8.756465261300743,
 9.624027072743152,
 8.851236998878411,
 8.167131996217657,
 8.841559492223908,
 8.884389976236411,
 9.164146640819151,
 8.966206375283672,
 8.228254192170548,
 8.624833071060324,
 9.187308333796311,
 8.882157332670454,
 8.678744091992167,
 8.77365384676527,
 8.58310618010784,
 8.484443876377817,
 8.522178286315869,
 8.914272360946082,
 8.92228831366162,
 6.8806999397652975,
 8.908045677660976,
 8.369571632152638,
 8.175488431581098,
 8.22984089669915,
 8.48230864219884,
 8.415174056045679,
 8.463283406192227,
 8.238418452338756,
 8.65257771718745,
 8.204236847700558,
 8.63546722394094,
 8.474497375101356,
 8.674242938433938,
 9.017976166051652,
 7.855541221977846,
 8.528700795385873,
 8.393204267694507,
 8.410147284997821,
 7.763387162184913,
 8.445038014448459,
 7.619544912113093,
 8.657861693108416,
 8.431938846554397,
 8.16441711184664,
 8.629945483580075,
 8.78126671701504,
 8.87168517769326,
 8.06920379368122,
 8.651068025534546,
 8.598506483652768,
 8.283223793247208,
 8.546339012971602,
 8.868655386745516,
 9.081994791663725,
 8.18481094666296,
 8.384588476334176,
 8.890562521861233,
 7.842046937226034,
 9.514000320608204,
 8.725758287022831,
 9.023810058334602,
 8.074951746434893,
 8.902269423058028,
 8.578073632489787,
 8.7359093498749,
 7.968920230631888,
 8.425204829710776,
 9.746986261969006,
 8.821454336871943,
 8.792620475079996,
 8.240097032312429,
 8.454416971611348,
 8.610308043114124,
 8.25121146526759,
 8.243864499656372,
 5.272262077590354,
 9.278296513993329,
 8.869309117201846,
 8.556271464948138,
 8.32508507654415,
 8.60300066335456,
 8.267885200475984,
 9.379760205116211,
 9.343653417083605,
 8.127654293739965,
 9.19293568928419,
 8.155197313267767,
 8.598790802250003,
 8.206572104590274,
 8.661284969681954,
 8.882273764564767,
 8.287304672342193,
 9.267354361252378,
 8.56928827525747,
 9.170941915502501,
 6.6988631736705715,
 8.8510408882002,
 8.823793935861167,
 9.031123902282484,
 8.482689357783789,
 9.00081907823773,
 7.5222599051189905,
 9.143800493713819,
 9.047258885420657,
 9.156030263795298,
 8.29784633221331,
 9.001871895009568,
 9.010973312177896,
 9.065096462968656,
 9.46597396887698,
 9.125028671905243,
 8.33692519567431,
 8.848935960658793,
 9.583223436195413,
 9.085656230228151,
 9.013571661680523,
 8.476133748396691,
 9.80748043646241,
 8.874753054965115,
 9.247876137803042,
 9.736064581154084,
 8.33474261635583,
 8.73019145996183,
 9.532970060048463,
 8.887544703215267,
 8.817587564801473,
 8.618996776052095,
 9.504546005204991,
 8.442187645189714,
 8.681966572193351,
 7.717163882453739,
 8.862745669635865,
 9.232368297802203,
 9.363597585154338,
 7.265730845190488,
 8.318260368678372,
 8.358350413467077,
 8.488429761648872,
 8.800616371624981,
 8.393622803749928,
 9.249908776949228,
 8.446346143859966,
 9.074731681452132,
 8.569051342611523,
 9.593186752132068,
 9.003758502257435,
 8.662958617536745,
 8.886061545061994,
 8.415174056045679,
 8.2315845213488,
 8.347227080491368,
 9.208668484806092,
 8.289439545258475,
 9.09778865510861,
 8.313213222344904,
 8.264665895594847,
 8.021699330725381,
 8.293777612936877,
 8.591532928621795,
 8.459762714122139,
 9.121874413934021,
 8.831789191101992,
 8.325567491983492,
 8.17244887781397,
 8.395572289013627,
 9.173311750579538,
 8.40908689234869,
 8.19886338366504,
 8.034009409633248,
 8.721551087827086,
 8.833186117624718,
 8.575306659057457,
 8.32215301786909,
 8.358184976434694,
 8.72686868943604,
 9.09412178270149,
 8.246604858214022,
 7.837990339077847,
 8.886230478118852,
 8.373298243784026,
 7.709495061407339,
 8.986075762738713,
 8.487532723732858,
 8.80326933457951,
 7.760683095956225,
 8.194959321804308,
 8.39352696664648,
 8.415174056045679,
 8.04926119674447,
 7.918970325042105,
 7.784118921513788,
 7.860194287684387,
 7.4373973478262725,
 8.7812583199469,
 8.87674868842905,
 9.069929546515043,
 7.898738368922517,
 9.536402389039583,
 7.171341061594937,
 8.153165882035598,
 8.652472508426474,
 8.415174056045679,
 9.218497882443195,
 8.280314471908532,
 8.625869227160425,
 8.468175975787881,
 8.903488335764635,
 8.193606173820854,
 8.264016224004974,
 7.888010159344413,
 8.023180349620155,
 8.099264864952186,
 9.15003423945838,
 8.57025145512095,
 8.748481330286086,
 8.841178276646458,
 8.842084022317398,
 8.27670811780436,
 7.404150573012808,
 8.471370646570007,
 8.298395481958332,
 8.375784247562658,
 ...]

In [72]:
# Rekomendasi untuk seorang user
recomToUser = pd.DataFrame({
                            'anime_id': anime, 
                            'title':name,
                            'score': anime_score
                            }).sort_values(by='score', ascending=False)

recomToUser.head(20)

     anime_id                                              title      score
586     11061                             Hunter x Hunter (2011)  10.000000
32       5114                   Fullmetal Alchemist: Brotherhood   9.937617
8         199                      Sen to Chihiro no Kamikakushi   9.900781
289      9253                                        Steins;Gate   9.900472
297      9969                                      Gintama&#039;   9.898299
378     15417                           Gintama&#039;: Enchousen   9.833903
895      6114                Rainbow: Nisha Rokubou no Shichinin   9.807480
557      4181                               Clannad: After Story   9.799438
81      24415                        Kuroko no Basket 3rd Season   9.795918
92      31043                            Boku dake ga Inai Machi   9.786147
718        44  Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...   9.770082
776     12355                       Ookami Kodomo no Ame to Yuki   9.761350
130       263                                     Hajime no Ippo   9.760050
376     15335  Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...   9.749923
845        19                                            Monster   9.746986
167       918                                            Gintama   9.739543
898      6675                                            Redline   9.736065
327     11577         Steins;Gate Movie: Fuka Ryouiki no Déjà vu   9.710642
55      16498                                 Shingeki no Kyojin   9.686908
237      5258                     Hajime no Ippo: New Challenger   9.686115